<div class="form-area">
<form>
	<div class="form-row">
		<div class="form-group col-md-2">
			<label>Invoice Number</label>
			<input name="invoiceNumber" type="text" class="form-control" placeholder="00000000" [(ngModel)]="invoice.invoiceNumber">
    </div>
			<div class="form-group col-md-2">
				<label>Net</label>
				<input name="net" type="text" class="form-control" 
        [(ngModel)]="invoice.net">
    </div>
		<div class="form-group col-md-2">
			<label for="percentTax">% Tax</label>
			<select [(ngModel)]="invoice.tax" name="tax" class="form-control">
        <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax + '%'}}</option>
      </select>
		</div>
		<div class="form-group col-md-2">
        <label>Total</label>
				<input class="form-control" type="text" placeholder="Total"
        value="{{total}}" readonly>
    </div>
    <div class="form-group col-6 col-md-2">
      <button type="button" class="btn btn-outline-success button-at-bottom">Add</button>
    </div>
    <div class="form-group col-6 col-md-2">
      <button type="button" class="btn btn-outline-danger button-at-bottom">Clear</button>
    </div>
  </div>
</form>
</div>
<div class="invoicesList">
  <div class="row" *ngFor="let invoice of invoices">
    <div class="col-md-12 table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Invoice Number</th>
            <th scope="col">{{invoice.invoice}}</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td>Net</td>
          <td>{{invoice.net | currency }}</td>
        </tr>
        <tr>
          <td>% Tax</td>
          <td>{{invoice.tax + "%"  }}</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>{{invoice.net*(invoice.tax/100) | currency }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{invoice.net*(1 + invoice.tax/100) | currency }}</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-danger">remove</button></td>
          <td></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>