<form>
	<div class="form-row">
    <input name="id" type="hidden" [(ngModel)]="invoice.id">
    <input name="creationDate" type="hidden" [(ngModel)]="invoice.creationDate">
		<div class="form-group col-md-2">
			<label for="invoiceNumber">Invoice Number</label>
			<input name="invoiceNumber" type="text" class="form-control" placeholder="00000000" [(ngModel)]="invoice.invoiceNumber">
    </div>
			<div class="form-group col-md-2">
				<label for="net">Net</label>
				<input name="net" type="text" class="form-control" 
        [(ngModel)]="invoice.net">
    </div>
		<div class="form-group col-md-2">
			<label for="percentTax">% Tax</label>
			<select [(ngModel)]="invoice.tax" name="tax" class="form-control">
        <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax + '%'}}</option>
      </select>
		</div>
		<div class="form-group col-md-2">
        <label class="" for="total">Total</label>
				<input class="form-control" type="text" placeholder="Total"
        value="{{total}}" readonly>
    </div>
    <div class="form-group col-6 col-md-2">
      <button type="button" class="btn btn-outline-success button-at-bottom">Add</button>
    </div>
    <div class="form-group col-6 col-md-2">
      <button type="button" class="btn btn-outline-danger button-at-bottom">Clear</button>
    </div>
  </div>
</form>